<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/static/keuangan/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body class="bg-light">

    {% if user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a class="navbar-brand text-warning" href="/"><i class="bi-columns-gap fw-bold"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="px-2 text-white">Pengeluaran Bulanan Tahun <span class="text-warning">{{ year }}</span></span>
                </li>
            </ul>
            <span class="nav-text dropdown">
                <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'admin:logout' %}"><i class="bi-box-arrow-down-right"></i> Keluar</a>
                </div>
            </span>
        </div>
    </nav>

    <div class="container">

        <form action="/dashboard" method="get">
            <div class="input-group p-1 justify-content-end">
                <input class="input-group-text mx-1" type="text" id="tahun" name="tahun" placeholder="Tahun Pengeluaran" required>
                <button class="btn btn-primary" type="submit">Tampilkan</button>
            </div>
        </form>

        <div class="card p-1 m-1">
            <canvas id="myChart" style="height: 200px;"></canvas>
        </div>

        <div class="row justify-content-center">
            {% for cf in cashflow  %}
            <a class="col-5 col-sm-3 col-md-2 col-lg-2 card p-0 m-1 bg-white text-decoration-none rounded rounded-3" href="/detail?bulan={{ cf.no }}&tahun={{ year }}">
                <div class="card-body bg-secondary text-light rounded rounded-3">
                    {{ cf.bulan }} 
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/static/keuangan/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const labels = {{ nama_bulan|safe }};
        const datas = {{ total_bulan|safe }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: `Pengeluaran Bulanan Tahun {{ year }}`,
                    data: datas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>