<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light">

    {% if user.is_authenticated %}

    <header class="text-center text-white bg-secondary">
        <div class="row px-3 pt-3">
            <div class="col text-start">
                <a class="text-warning text-decoration-none" href="/">Home</a>
            </div>
            <div class="col text-center">
                <p class="p-1">Pengeluaran Bulanan Tahun {{ year }}</p>
            </div>
            <div class="col text-end">
                <a class="text-warning text-decoration-none" href="{% url 'admin:logout' %}">Logout</a>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="card p-1 m-1">
            <canvas id="myChart" style="height: 200px;"></canvas>
        </div>

        <div class="row justify-content-center">
            {% for cf in cashflow  %}
            <a class="col-5 col-sm-3 col-md-2 col-lg-2 card p-0 m-1 bg-white text-decoration-none rounded-3" href="/detail?bulan={{ cf.no }}&tahun={{ year }}">
                <div class="card-body bg-secondary text-light rounded-3">
                    {{ cf.bulan }} 
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script>
        const labels = {{ nama_bulan|safe }};
        const datas = {{ total_bulan|safe }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: `Pengeluaran Bulanan Tahun {{ year }}`,
                    data: datas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>