<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    {% if user.is_authenticated %}

    <header class="text-center text-white bg-secondary">
        <div class="row px-3 pt-3">
            <div class="col text-start">
                <a class="text-warning text-decoration-none" href="/dashboard">Dashboard</a>
            </div>
            <div class="col text-center">
                <p class="p-1">Detail Pengeluaran Bulan <span class="fw-bold text-warning">{{ month }}</span> Tahun <span class="fw-bold text-warning">{{ year }}</span></p>
            </div>
            <div class="col text-end">
                <a class="text-warning text-decoration-none" href="{% url 'admin:logout' %}">Logout</a>
            </div>
        </div>
    </header>

    <div class="content p-1">
        <div class="row">
            <div class="col"><a class="btn btn-secondary" href="/detail?tahun={{ prev_year }}&bulan={{ prev_month }}">Kembali</a></div>
            <div class="col text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cashflowModal">
                    Tambah Data
                </button>
            </div>
            <div class="col text-end"><a class="btn btn-secondary" href="/detail?tahun={{ next_year }}&bulan={{ next_month }}">Lanjut</a></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cashflowModal" tabindex="-1" aria-labelledby="cashflowModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <form action="/detail" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="cashflowModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <div class="input-group"> -->
                        <input type="text" name="tahun" value="{{ year }}" hidden>
                        <input type="text" name="bulan" value="{{ current_month }}" hidden>
                        <label for="kategory">Kategory</label><br/>
                        <input class="input-group-text w-100" type="text" id="kategory" name="kategory" list="kategory-list" required>
                        <datalist id="kategory-list">
                            {% for kat in category %}
                                <option>{{ kat.nama }}</option>
                            {% endfor %}
                        </datalist>

                        <label for="product">Product</label><br/>
                        <input class="input-group-text w-100" type="text" id="product" name="product" list="product-list" required>
                        <datalist id="product-list">
                            {% for kat in product %}
                                <option>{{ kat.nama }}</option>
                            {% endfor %}
                        </datalist>

                        <label for="qty">QTY</label>
                        <input class="input-group-text w-100" type="number" id="qty" name="qty" value="1" required>

                        <label for="satuan">Harga Satuan</label>
                        <input class="input-group-text w-100" type="number" id="satuan" name="satuan" required>

                        <label for="tanggal">Tanggal</label>
                        <input class="input-group-text w-100" type="date" id="tanggal" name="tanggal" value="{{ year }}-{% if current_month not in digit2 %}0{{ current_month }}{% else %}{{ current_month }}{% endif %}-01" required>
                    <!-- </div> -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    {% if list_kategori %}

    <div class="wrapper p-1 mt-1 mx-auto mb-1"
        style="
            width: 300px;
            height: 300px;
            border: 1px solid black;">
        <canvas id="myChart"></canvas>
    </div>
    
    <table class="table table-striped table-hover">
            <thead>
                <tr class="text-white bg-secondary">
                    <th>Aksi</th>
                    <th>Tanggal</th>
                    <th>Kategory</th>
                    <th>Produk</th>
                    <th>QTY</th>
                    <th style="text-align: right;">Harga Satuan</th>
                    <th style="text-align: right;">Harga Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cf in cashflow  %}
                <tr id="pk{{ cf.pk }}">
                    <td>
                        <a href="/edit?id={{ cf.pk }}&tahun={{ year }}&bulan={{ current_month }}&tanggal={{ cf.tanggal|safe }}&kategory={{ cf.kategory }}&produk={{ cf.produk }}&qty={{ cf.qty }}&satuan={{ cf.harga_satuan|safe }}&tanggal={{ cf.tanggal|safe }}" class="btn btn-sm btn-success"><i class="bi-pencil-square"></i></a>
                    </td>
                    <td>{{ cf.tanggal }}</td>
                    <td>{{ cf.kategory }}</td>
                    <td>{{ cf.produk }}</td>
                    <td>{{ cf.qty }}</td>
                    <td style="text-align: right;">Rp {{ cf.harga_satuan }}</td>
                    <td style="text-align: right;">Rp {{ cf.harga_total }}</td>
                </tr>
                {% endfor %}
                <tr class="bg-secondary text-white">
                    <td colspan="6" style="text-align: right;">TOTAL</td>
                    <td style="text-align: right;">Rp {{ total }}</td>
                </tr>
            </tbody>
    </table>

    {% else %}

        <div class="text-center pt-5 text-muted">
            <h1>Data Tidak Ditemukan</h1>
        </div>

    {% endif %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script>
        let labels = {{ list_kategori|safe }};
        let datas = {{ total_kategori|safe }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: `Pengeluaran Bulanan Tahun {{ year }}`,
                    data: datas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                // scales: {
                //     y: {
                //         beginAtZero: true
                //     }
                // },
                legend: {
                    display: false  // <- the important part
                },
            }
        });
    </script>

    {% endif %}
</body>
</html>