{% extends "./dash.html" %}

<!-- Page Title -->
{% block title %}
    Dashboard | Pemasukan
{% endblock %}

<!-- {% block navbar_title %}
    Dashboard
{% endblock %} -->

<!-- Custom CSS -->
<!-- {% block custom_css %}{% endblock %} -->

<!-- Menu Root -->
<!-- {% block root_menu %}{% endblock %} -->

<!-- Body Navigation -->
{% block body_navigation %}
<div class="container-fluid bg-white border-bottom pb-3">
    <div class="h3 py-3">
        Data Pemasukan
        <span class="float-end d-none d-sm-block">
            <span class="h6">Total:</span> <span class="h5 text-success">Rp 2.000.000</span>
         </span>
    </div>
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col col-lg-5">
                <a href="/pemasukan_form" class="btn btn-sm btn-primary">CREATE</a>
                <a href="#" class="btn btn-sm btn-light border">EXPORT</a>
            </div>
            <div class="col col-lg-7 text-end d-none d-sm-block">
                <span class="btn btn-sm bg-light border fw-bolder text-primary">September 2021</span>
                <a href="#" class="btn btn-sm btn-light border"><i class="bi-arrow-left"></i></a>
                <a href="#" class="btn btn-sm btn-light border"><i class="bi-arrow-right"></i></a>
                <a href="#" class="btn btn-sm btn-light border"><i class="bi-list"></i></a>
                <a href="#" class="btn btn-sm btn-light border"><i class="bi-speedometer"></i></a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

<!-- Body -->
{% block custom_body %}
    
{% endblock %}

<!-- Custom JS -->
<!-- {% block custom_js %}{% endblock %} -->