{% extends "./dash.html" %}

<!-- Page Title -->
{% block title %}
    Dashboard | Pengeluaran
{% endblock %}

<!-- {% block navbar_title %}
    Dashboard
{% endblock %} -->

<!-- Custom CSS -->
<!-- {% block custom_css %}{% endblock %} -->

<!-- Custom PreLoad -->
{% block custom_preload_body %}
{% if not user.is_authenticated %}
    <script type="text/javascript">
        window.location.href = "/login";
    </script>
{% endif %}
{% endblock %}

<!-- Menu Root -->
<!-- {% block root_menu %}{% endblock %} -->

<!-- Body Navigation -->
{% block body_navigation %}
<form action="/pengeluaran_form" method="POST">
    {% csrf_token %}
    <div class="container-fluid bg-white border-bottom pb-3">
        <div class="h3 py-3">
            Data Pengeluaran / {% if record %}{{ record.produk|safe }}{% else %}Data Baru{% endif %}
        </div>
        <div>
            <button type="submit" href="#" class="btn btn-sm btn-primary">SIMPAN</button>
            <a href="/pengeluaran?tahun={{ thisYear|safe }}&bulan={{ thisMonth|safe }}" class="btn btn-sm btn-light border">BATAL</a>
            {% if record %}
            <a href="#" class="btn btn-sm btn-light border" id="menuSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-gear"></i></a>
            <ul class="dropdown-menu" aria-labelledby="menuSettings">
                <li><button class="dropdown-item" onclick="deleteData({{ record.id|safe }})"><i class="bi-trash text-danger"></i> Hapus</button></li>
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                <div class="container">

                    <input type="text" name="tahun" value="{{ thisYear|safe }}" hidden>
                    <input type="text" name="bulan" value="{{ thisMonth|safe }}" hidden>
                    <input type="number" name="id" value="{{ record.id|safe }}" hidden>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="tanggal" style="font-size: small;">Tanggal</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input class="form-control" type="date" name="tanggal" id="tanggal" value="{% if record %}{{ record.tanggal|safe }}{% else %}{{ thisDate|safe }}{% endif %}" required>
                        </div>
                    </div>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="klasifikasi" style="font-size: small;">Klasifikasi</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input class="form-control" type="text" name="klasifikasi" id="klasifikasi" value="{% if record %}{{ record.kategory|safe }}{% endif %}" list="kategory-list" required>
                            <datalist id="kategory-list">
                                {% for kat in category %}
                                    <option>{{ kat.nama }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="produk" style="font-size: small;">Produk</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input class="form-control" type="text" name="produk" id="produk" value="{% if record %}{{ record.produk|safe }}{% endif %}" list="product-list" required>
                            <datalist id="product-list">
                                {% for kat in product %}
                                    <option>{{ kat.nama }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="qty" style="font-size: small;">Kuantitas</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input oninput="do_calc()" class="form-control" type="number" name="qty" id="qty" value="{% if record %}{{ record.qty|safe }}{% else %}1{% endif %}" required>
                        </div>
                    </div>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="satuan" style="font-size: small;">Harga Satuan</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input oninput="do_calc()" class="form-control w-100" type="number" name="satuan" id="satuan" value="{% if record %}{{ record.harga_satuan|safe }}{% else %}0{% endif %}" required>
                        </div>
                    </div>

                    <div class="row my-1">
                        <div class="col-4 col-lg-2">
                            <label class="p-sm-2" for="total" style="font-size: small;">Harga Total</label>
                        </div>
                        <div class="col-8 col-lg-10">
                            <input class="form-control w-100" type="number" name="total" id="total" value="{% if record %}{{ record.harga_total|safe }}{% else %}0{% endif %}" disabled>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}

<!-- Body -->
{% block custom_body %}
    
{% endblock %}

<!-- Custom JS -->
{% block custom_js %}
<script>
    function do_calc() {
        qty = document.getElementById('qty').value;
        satuan = document.getElementById('satuan').value;
        document.getElementById('total').value = qty * satuan;
    }
</script>

<script>
function deleteData(dataId) {
    event.preventDefault();

    var details = {
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'dataId': dataId,
    };

    var formBody = [];
    for (var property in details) {
    var encodedKey = encodeURIComponent(property);
    var encodedValue = encodeURIComponent(details[property]);
    formBody.push(encodedKey + "=" + encodedValue);
    }
    formBody = formBody.join("&");

    fetch('/pengeluaran_form', {
    method: 'DELETE',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
        'X-CSRFToken': details['csrfmiddlewaretoken']
    },
    body: `{"dataId": ${details['dataId']}}`
    }).then(data_response => {
        if (data_response.ok) {
            window.location.replace("/pengeluaran?tahun={{ thisYear|safe }}&bulan={{ thisMonth|safe }}");
        }
    });

}
</script>
{% endblock %}